<div id="box-home">
    <h1 id="hometitle">Bienvenido {{username}}</h1>
    <form action="logout" method="post">
        <button type="submit" class="btn btn-outline-primary">Cerrar sesion</button>
    </form>
</div>