 <div id="box-login">
        <h1>Iniciar Sesion</h1>
        <form action="login" method="POST">
           <label for="nombre">Ingresa tu nombre</label>
           <input type="text" name = "nombre" class="form-control" placeholder="aqui...">
           <div id="box-btn">
               <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
           </div>
     </form>
</div>
