<div id="box-logout">
    <h1 id="title-logout">Hasta Luego!</h1>
    <form action="test" method="get">
        <button type="submit" class="btn btn-outline-primary">Iniciar Sesion</button>
    </form>
</div>